<tr>
  <td><%= badge.name %></td>
  <td><%= badge.image_name %></td>
  <td><%= badge.receiving_condition %></td>
  <td><%= link_to 'Просмотреть', admin_badge_path(badge) %></td>
  <td><%= link_to 'Редактировать', edit_admin_badge_path(badge) %></td>
  <td>
    <%= link_to 'Удалить',
              admin_badge_path(badge),
              method: :delete,
              data: {confirm: 'Вы уверенны, что хотите удалить значок?'}%>
  </td>
</tr>
