<div class="nav nav-admin">
  <span class="nav-admin title">Панель администратора TestGuru</span>

  <div class="nav-admin user">
    Добро пожаловать, <b class="nav-admin user-name"><%= current_user.first_name%> <%= current_user.last_name %>!</b> |
    <b><%= link_to 'Тесты', admin_tests_path %></b> |
    <b><%= link_to 'Бейджи', admin_badges_path %></b> |
    <%= link_to 'Выход', destroy_user_session_path, method: :delete %>
  </div>
</div>