<% if user_signed_in? %>
  <p class="nav user">
    <%= link_to 'TestGuru', root_path %> |
    Добро пожаловать, <b><%= current_user.name %></b> |
    <%= link_to 'Значки', badges_path %> |
    <%= link_to 'Мои значки', user_badges_path %> |
    <%= link_to 'Выход', destroy_user_session_path, method: :delete %><br>
  </p>
<% else %>
  <p class='nav user'>
    <%= link_to 'TestGuru', root_path %> |
    <%= link_to 'Регистрация', new_user_registration_path %> |
    <%= link_to 'Вход', new_user_session_path %>
  </p>
<% end %>
