<% if logged_in?%>
  <p class="nav user">
    <%= link_to 'TestGuru', root_path %> |
    Добро пожаловать, <b><%= current_user.name %></b> |
    <%= link_to 'Выход', logout_path, method: :delete %><br>
  </p>
<% else %>
  <p class='nav user'>
    <%= link_to 'TestGuru', root_path %> |
    <%= link_to 'Регистрация', signup_path %> |
    <%= link_to 'Вход', login_path %>
  </p>
<% end %>