<h1>Тесты</h1>

<p>
  <%= link_to "Новый тест", new_admin_test_path %>
</p>

<%= render 'shared/errors', resource: @tests %>

<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      Название
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th>Уровень</th>
    <th>Количество вопросов</th>
    <th>Таймер</th>
    <th colspan="3">Действие</th>
  </tr>

<%= render @test %>
</table>

<p><%= link_to 'Gists', admin_gists_path%></p>