<h1>Тест: <%= @test.title %></h1>

<p>
  <strong>Уровень:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Вопросы теста:</strong>
  <% @test.questions.each do |question| %>
    <p><%= question.text %></p>
  <% end %>
<p>

<p><%= link_to 'Добавить новый вопрос', new_test_question_path(@test) %></p>

<%= link_to 'Изменить тест', edit_test_path(@test) %>
